#box1{
    height: 400px;
    width: 400px;
    background-color: rgba(0, 255, 0, 0.5);
    
}
body{
    background-image: url(https://wallpapercat.com/w/full/1/d/3/5818397.jpg);
    background-size: cover;
}
