h1{
    font-family: Leagua spearten;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-color: teal;
    text-decoration-style: double;
    text-transform: uppercase;
}